<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AzureConnectionString"
          connectionString="Server=tcp:financialdata.database.windows.net,1433;Initial Catalog=BaseTaxis;Persist Security Info=False;User ID=ecoronado87;Password=Secure01.;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;">
    </add>
  </connectionStrings>
</configuration>